#footer
  background: color-footer-background
  border-top: 1px solid color-border
  color: color-footer
  width: 100%
  height: footer-height
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline

#footer-info
  line-height: line-height
  font-size: 0.85em
  margin-top: 15px